<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>
          MatchWorkshop is a society provide indie game developing opportunities.
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          提供參與 獨立遊戲開發機會 的社群。歡迎已備基礎技能 之新手或有興趣參與 獨立遊戲 之業界人士踴躍參與。
        </p>
      </div>
    </div>
    <div class="row" style="padding-top:100px">
      <div class="col-lg-12 text-center">
        <h2>We say yes!</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-4">
        <img src="/images/leader-image-1.png" class="pull-right" alt="">
        <p>We unapologetically love <strong>.NET</strong>. We love its languages and all <a href="http://www.nuget.org">its libraries and frameworks</a>. We also love Sublime, Atom, Emacs, Vim and Brackets. </p>
      </div>
      <div class="col-lg-4">
        <img src="/images/leader-image-2.png" class="pull-right" alt="">
        <p>We create <a href="http://owin.org/">OWIN middleware</a> on Ubuntu and deploy to Azure. We make ASP.NET services from our Macs and deploy to Linux. </p>

      </div>
      <div class="col-lg-4">
        <img src="/images/leader-image-3.png" class="pull-right" alt="">
        <p>And we do all this while still using useful features like Intellisense, Add Reference, Format Document, and lots more. </p>
      </div>
    </div>
    <div class="row" style="padding-top:100px">
      <div class="col-lg-12 text-center">
        <a href="https://github.com/omnisharp" class="btn btn-lg btn-success">
          <i class="fa fa-github"></i> Get involved!
        </a>
      </div>
    </div>
  </div>
</section>
